



/* .card-demo {
background-color: antiquewhite;

}
.containerX {
background-color: rgb(167, 139, 102);

}
.colorNested {
background-color: rgb(247, 247, 247);

}
.box {
  background-color: rgb(134, 118, 94);

  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
 */
 .Global styles_Class {
  margin: 0;
  padding: 0;
}
.Web_1920___2_Class {
  position: absolute;
  box-sizing: border-box;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
  outline: 1px solid #A1A1A1;
  background: #E5E5E5;
  width: 1920px;
  height: 1080px;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  opacity: 1;
}
.ID1qh83022_Class {
  opacity: 1;
  fill: url(#ID1qh83022_pattern);
  stroke: rgb(112, 112, 112);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  stroke-position: inside;
  stroke-alignment: inside;
  stroke-location: inside;
  shape-rendering: crispedges;
}
.ID1qh83022 {
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 300px;
  left: 0px;
  top: 0px;
}
.Rectangle_2_Class {
  opacity: 1;
  fill: rgba(126,62,30,1);
  stroke: rgb(112, 112, 112);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  stroke-position: inside;
  stroke-alignment: inside;
  stroke-location: inside;
  shape-rendering: crispedges;
}
.Rectangle_2 {
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 726px;
  left: 0px;
  top: 300px;
}
.Rectangle_3_Class {
  opacity: 1;
  fill: rgba(88,22,155,1);
  stroke: rgb(112, 112, 112);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  stroke-position: inside;
  stroke-alignment: inside;
  stroke-location: inside;
  shape-rendering: crispedges;
}
.Rectangle_3 {
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 54px;
  left: 0px;
  top: 1026px;
}
.arab_circle_pattern__Class {
  opacity: 1;
  fill: url(#arab_circle_pattern__pattern);
  stroke: rgb(112, 112, 112);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  stroke-position: inside;
  stroke-alignment: inside;
  stroke-location: inside;
  shape-rendering: crispedges;
}
.arab_circle_pattern_ {
  position: absolute;
  overflow: visible;
  width: 377px;
  height: 418px;
  left: 93px;
  top: 331px;
}
.arab_circle_pattern__1_4_1_Class {
  opacity: 1;
  fill: url(#arab_circle_pattern__1_4_1_pattern);
  stroke: rgb(112, 112, 112);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  stroke-position: inside;
  stroke-alignment: inside;
  stroke-location: inside;
  shape-rendering: crispedges;
}
.arab_circle_pattern__1_4_1 {
  position: absolute;
  overflow: visible;
  width: 377px;
  height: 418px;
  left: 539px;
  top: 331px;
}
.arab_circle_pattern__1_5_2_Class {
  opacity: 1;
  fill: url(#arab_circle_pattern__1_5_2_pattern);
  stroke: rgb(112, 112, 112);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  stroke-position: inside;
  stroke-alignment: inside;
  stroke-location: inside;
  shape-rendering: crispedges;
}
.arab_circle_pattern__1_5_2 {
  position: absolute;
  overflow: visible;
  width: 377px;
  height: 418px;
  left: 985px;
  top: 331px;
}
.arab_circle_pattern__1_6_3_Class {
  opacity: 1;
  fill: url(#arab_circle_pattern__1_6_3_pattern);
  stroke: rgb(112, 112, 112);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  stroke-position: inside;
  stroke-alignment: inside;
  stroke-location: inside;
  shape-rendering: crispedges;
}
.arab_circle_pattern__1_6_3 {
  position: absolute;
  overflow: visible;
  width: 377px;
  height: 418px;
  left: 1431px;
  top: 331px;
}
.default_Class {
  opacity: 1;
  fill: url(#default_pattern);
  stroke: rgb(112, 112, 112);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  stroke-position: inside;
  stroke-alignment: inside;
  stroke-location: inside;
}
.default {
  position: absolute;
  overflow: visible;
  width: 232px;
  height: 227px;
  left: 612px;
  top: 780px;
}
.Capture_Class {
  opacity: 1;
  fill: url(#Capture_pattern);
  stroke: rgb(112, 112, 112);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  stroke-position: inside;
  stroke-alignment: inside;
  stroke-location: inside;
}
.Capture {
  position: absolute;
  overflow: visible;
  width: 232px;
  height: 227px;
  left: 166px;
  top: 780px;
}
.F3296_Class {
  opacity: 1;
  fill: url(#F3296_pattern);
  stroke: rgb(112, 112, 112);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  stroke-position: inside;
  stroke-alignment: inside;
  stroke-location: inside;
}
.F3296 {
  position: absolute;
  overflow: visible;
  width: 232px;
  height: 227px;
  left: 1058px;
  top: 780px;
}
.flower_glad_vintage__Class {
  opacity: 1;
  fill: url(#flower_glad_vintage__pattern);
  stroke: rgb(112, 112, 112);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  stroke-position: inside;
  stroke-alignment: inside;
  stroke-location: inside;
}
.flower_glad_vintage_ {
  position: absolute;
  overflow: visible;
  width: 232px;
  height: 227px;
  left: 1504px;
  top: 780px;
}
