
<class="Global styles_Class">
    <body>
    <div id="Web_1920___2" class="Web_1920___2_Class">
      <svg class="ID1qh83022">
        <pattern id="ID1qh83022_pattern" x="0" y="0" width="100%" height="100%">
          <image x="0" y="0" width="100%" height="100%" href="assets/8/ID1qh83022.png"/>
        </pattern>
        <rect id="ID1qh83022" rx="0" ry="0" x="0" y="0" width="1920" height="300" class="ID1qh83022_Class">
        </rect>
      </svg>
      <svg class="Rectangle_2">
        <rect id="Rectangle_2" rx="0" ry="0" x="0" y="0" width="1920" height="726" class="Rectangle_2_Class">
        </rect>
      </svg>
      <svg class="Rectangle_3">
        <rect id="Rectangle_3" rx="0" ry="0" x="0" y="0" width="1920" height="54" class="Rectangle_3_Class">
        </rect>
      </svg>
      <svg class="arab_circle_pattern_">
        <pattern id="arab_circle_pattern__pattern" x="0" y="0" width="100%" height="100%">
          <image x="0" y="0" width="100%" height="100%" href="assets/8/arab_circle_pattern_.png"/>
        </pattern>
        <rect id="arab_circle_pattern_" rx="0" ry="0" x="0" y="0" width="377" height="418" class="arab_circle_pattern__Class">
        </rect>
      </svg>
      <svg class="arab_circle_pattern__1_4_1">
        <pattern id="arab_circle_pattern__1_4_1_pattern" x="0" y="0" width="100%" height="100%">
          <image x="0" y="0" width="100%" height="100%" href="assets/8/arab_circle_pattern_.png"/>
        </pattern>
        <rect id="arab_circle_pattern__1_4_1" rx="0" ry="0" x="0" y="0" width="377" height="418" class="arab_circle_pattern__1_4_1_Class">
        </rect>
      </svg>
      <svg class="arab_circle_pattern__1_5_2">
        <pattern id="arab_circle_pattern__1_5_2_pattern" x="0" y="0" width="100%" height="100%">
          <image x="0" y="0" width="100%" height="100%" href="assets/8/arab_circle_pattern_.png"/>
        </pattern>
        <rect id="arab_circle_pattern__1_5_2" rx="0" ry="0" x="0" y="0" width="377" height="418" class="arab_circle_pattern__1_5_2_Class">
        </rect>
      </svg>
      <svg class="arab_circle_pattern__1_6_3">
        <pattern id="arab_circle_pattern__1_6_3_pattern" x="0" y="0" width="100%" height="100%">
          <image x="0" y="0" width="100%" height="100%" href="assets/8/arab_circle_pattern_.png"/>
        </pattern>
        <rect id="arab_circle_pattern__1_6_3" rx="0" ry="0" x="0" y="0" width="377" height="418" class="arab_circle_pattern__1_6_3_Class">
        </rect>
      </svg>
      <svg class="default">
        <pattern id="default_pattern" x="0" y="0" width="100%" height="100%">
          <image x="0" y="0" width="100%" height="100%" href="assets/8/default.png"/>
        </pattern>
        <ellipse id="default" rx="116" ry="113.5" cx="116" cy="113.5" class="default_Class">
        </ellipse>
      </svg>
      <svg class="Capture">
        <pattern id="Capture_pattern" x="0" y="0" width="100%" height="100%">
          <image x="0" y="0" width="100%" height="100%" href="assets/8/Capture.png"/>
        </pattern>
        <ellipse id="Capture" rx="116" ry="113.5" cx="116" cy="113.5" class="Capture_Class">
        </ellipse>
      </svg>
      <svg class="F3296">
        <pattern id="F3296_pattern" x="0" y="0" width="100%" height="100%">
          <image x="0" y="0" width="100%" height="100%" href="assets/8/F3296.png"/>
        </pattern>
        <ellipse id="F3296" rx="116" ry="113.5" cx="116" cy="113.5" class="F3296_Class">
        </ellipse>
      </svg>
      <svg class="flower_glad_vintage_">
        <pattern id="flower_glad_vintage__pattern" x="0" y="0" width="100%" height="100%">
          <image x="0" y="0" width="100%" height="100%" href="assets/8/flower_glad_vintage_.png"/>
        </pattern>
        <ellipse id="flower_glad_vintage_" rx="116" ry="113.5" cx="116" cy="113.5" class="flower_glad_vintage__Class">
        </ellipse>
      </svg>
    </div>
    </body>

<!-- <mat-card class="card-demo">
    <mat-card-title>Grid with Minmax</mat-card-title>
    <mat-card-content class="containerX">
      <div class="colorNested" style="height: auto;">
        <div gdGap="10px" gdColumns="repeat(auto-fill, minmax(200px, 1fr))">
          <div class="box" gdColumn="auto / span 2">A</div>
          <div class="box">B</div>
          <div class="box">C</div>
          <div class="box">D</div>
          <div class="box">E</div>
          <div class="box">F</div>
          <div class="box" gdColumn="auto / span 2" gdRow="auto / span 2">G</div>
          <div class="box">H</div>
          <div class="box">I</div>
          <div class="box">J</div>
          <div class="box" gdColumn="auto / span 3">K</div>
          <div class="box">L</div>
          <div class="box">M</div>
        </div>
      </div>
    </mat-card-content>
  </mat-card> -->


<!--
<mat-card class="card-demo">
    <mat-card-title>Basic Responsive Grid App</mat-card-title>
    <mat-card-content class="containerX">
      <div class="colorNested box" style="height: auto;">
        <div gdAreas.xs="header | sidebar | content | sidebar2 | footer" gdGap="1em"
             gdColumns.xs="none"
             gdAreas.sm="header header | sidebar content | sidebar2 sidebar2 | footer footer"
             gdColumns.sm="20%!"
             gdAreas.gt-sm="header header header | sidebar content sidebar2 | footer footer footer"
             gdColumns.gt-sm="120px auto 120px" gdGap.gt-sm="20px" [ngStyle]="{'max-width': 'auto'}"
             [ngStyle.gt-sm]="{'max-width': '600px'}">
          <div class="blocks one" gdArea="header">Header</div>
          <div class="blocks two" gdArea="sidebar">Sidebar</div>
          <div class="blocks three" gdArea="sidebar2">Sidebar 2</div>
          <div class="blocks four" gdArea="content">Content
            <br /> More content than we had before so this column is now quite tall.</div>
          <div class="blocks five" gdArea="footer">Footer</div>
        </div>
      </div>
    </mat-card-content>
  </mat-card> -->
